[user]
	name = wullewutz
	email = wullewutz@users.noreply.github.com
[diff]
	guitool = meld
	tool = vimdiff
[merge]
	tool = kdiff3
[core]
	autocrlf = False
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[pull]
	rebase = false
[alias]
    grs = log --graph --exclude='refs/remotes/*/gh-pages' \
              --pretty=format:'%C(green)%h %C(auto)%d%C(reset) %C(bold blue)%<(9,trunc)<%cn>%C(reset) %<(80,trunc)%s %n'
    gr = grs --all
