[user]
	name = wullewutz
	email = wullewutz@users.noreply.github.com
[diff]
	guitool = meld
[merge]
	tool = kdiff3
[core]
	autocrlf = False
	editor = vim
	excludesfile = /home/mheinl/.gitignore_global
[push]
	default = simple
