* {
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

window#waybar {
    background: #282828;
    color: #008800;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #292b2e;
    background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    background: #1a1a1a;
}

#workspaces button {
    padding: 0 2px;
    color: #008800;
}
#workspaces button.focused {
    color: #1a1a1a;
    background: #008800
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #008800;
    border: #008800;
    color: #1a1a1a;
    padding: 0 3px;
}

#pulseaudio {
    color: #268bd2;
}
#memory {
    color: #2aa198;
}
#cpu {
    color: #6c71c4;
}
#battery {
    color: #859900;
}
#disk {
    color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 10px;
}

#tray * {
    font-size:25px;
    color: #008800;
    background: #282828;
}

#tray menu menuitem:hover {
    background-color: #008800;
    color: #1a1a1a;
}
